<footer class="footer">
    <div class="footer__container">
        <div class="social">
            <ul class="social__list">
                <li class="social__item">
                    <a href="https://github.com/VadBorovec" class="social__link">
                        <svg class="social__icon">
                            <use href="./images/icons.svg#icon-github"></use>
                        </svg>
                    </a>

                </li>
                <li class="social__item">
                    <a href="https://www.linkedin.com/in/vadymborovets/" class="social__link">
                        <svg class="social__icon">
                            <use href="./images/icons.svg#icon-linkedin"></use>
                        </svg>
                    </a>

                </li>
                <li class="social__item">
                    <a href="https://www.instagram.com/ivanfarfan/" class="social__link">
                        <svg class="social__icon">
                            <use href="./images/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>

                </li>
                <li class="social__item">
                    <a href="https://t.me/Borovec" class="social__link">
                        <svg class="social__icon">
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="copyright">
            <p>&copy; 2023 - All rights reserved</p>
        </div>
    </div>
</footer>

<!-- BUTTON TO-TOP -->
<button class="to-top-btn" aria-label="Back to top">
    <svg class="to-top-btn__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="currentColor" d="M12 6l-6 6h4v6h4v-6h4l-6-6z" />
    </svg>
</button>

<!-- SCROPTS FOR BGD COLOR & SCROLL TO-TOP -->
<script src="js/11-background-color.js" type="module"></script>
<script src="js/12-scroll-to-top.js" type="module"></script>